<%- include ('./general/header') %>
<body class="index">
  <div class="d-flex align-items-center justify-content-center" style="text-align: center">
    <div id="home">
      <h1 class="indexTitle">MyDesk</h1>
      <p>Reservá fácil tu puesto de trabajo.</p>
      <a href="./login" type="button" class="btn btn-lg btn-primary">
        Iniciar sesión
      </a>
    </div>
  </div>
  <div style="margin-top: 50%;">
    <%- include('./general/footer') %>
  </div>  
</body>
</html>