<%- include ('./general/header') %> %>
  <body>
    <nav class="col navbar fixed-top navbar-expand-md navbar-light bg-light">
      <div style="flex: auto">
        <a href="./" class="navbar-text" style="padding-right: 0.5rem;">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.214 12L16.1719 6.04687C16.6125 5.60624 16.6125 4.89374 16.1719 4.4578C15.7312 4.01718 15.0187 4.02187 14.5781 4.4578L7.82811 11.2031C7.40154 11.6297 7.39217 12.3141 7.79529 12.7547L14.5734 19.5469C14.7937 19.7672 15.0844 19.875 15.3703 19.875C15.6562 19.875 15.9469 19.7672 16.1672 19.5469C16.6078 19.1062 16.6078 18.3937 16.1672 17.9578L10.214 12Z"
              fill="#222222" />
          </svg>Volver
        </a>
      </div>
      <h2 class="navbar-text" style="padding-right: 0.8rem;">Ingresá a tu cuenta</h1>
    </nav>
    <!--Login Usuario-->
    <div class="container">
      <form class="form-user" method="POST" action="/login/auth">
        <h1 class="text-center">Ingresá con tu legajo</h1>
        <div class="form-group">
          <label for="legajo">Nº de legajo:</label>
          <input name="legajo" type="text" class="form-control margin-input" name="legajo" id="legajo"
            aria-describedby="emailHelp" required />
          <% if (locals.errors && errors.legajo) { %>
            <div class="text-danger">
              <%= errors.legajo.msg %>
            </div>
            <% } %>
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input name="password" type="password" class="form-control margin-input" name="password" id="password"
            required />
        </div>
        <button class="button" type="submit">Ingresar</button>
        <!--    <a href="./bottomMobileNavbar.html" type="submit" class="button">Enviar</a> -->
      </form>
    </div>
    <script type="text/javascript" src="/scripts/session-start.js"></script>

    <%- include('./general/footer') %>
      <!--Termina Login Usuario-->
  </body>
  </html>