<h3 style="display: flex;
flex-direction: row;
justify-content: start;
padding-left: 50px;
align-items: center;
color: whitesmoke;
font-size: 0.75rem;
justify-content: center;">MyDesk Copyrights
    <i class="far fa-registered"></i>
</h3>
